body{
    text-align: center;
    background-color: cornflowerblue;
}

a{
    background-color: firebrick;
}

.line{
    background-color: lightgreen;
}

#Videos{
    background-color: firebrick;
}