body{
    text-align: center;
    background-color: cornflowerblue;
}

a{
    background-color: firebrick;
}

.line{
    background-color: lightgreen;
}

#Videos{
    background-color: firebrick;
}



.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
}


.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgb(255 255 255 / 10%);
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 10%);
    -webkit-overflow-scrolling: touch;
}

